<head>
    <title>Control Panel | Nginx Virtual Host Management System</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        * {
            font-family: 'Prompt';
        }
    </style>
    <%-include('include/head')%>
</head>
<body class="bg-light">
    <div class="mx-3 mt-4">
        <%if(locals.alert) {%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%=alert%>
                <script>
                    function removeAlert() {
                        window.history.replaceState(null, '', window.location.pathname);
                    }
                </script>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="removeAlert()"></button>
            </div>
        <%}%>
    </div>
    <div class="container my-4 card p-4">
        <h2 class="mb-3"><i class="fa-solid fa-gears me-2"></i>Nginx Web Server Control Panel</h2>

        <div class="bg-light mb-3 p-3">
            <h4 class="mb-3"><i class="fa-solid fa-server me-2"></i> Server Details</h4>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa-solid fa-microchip"></i> <span id="cpuStat"></span></li>
                <li class="list-group-item"><i class="fa-solid fa-memory"></i> <span id="memStat"></span></li>
                <li class="list-group-item"><i class="fa-regular fa-clock"></i> <span id="uptime"></span></li>
                <li class="list-group-item"><i class="fa-solid fa-coins"></i> <span id="ElectricCost"></span></li>
            </ul>
        </div>
        <script>
            uptime = document.getElementById('uptime')
            memStat = document.getElementById('memStat')
            cpuStat = document.getElementById('cpuStat')

            function getSystemStat() {
                fetch('/getUptime').then((res) => {
                if(res.ok) {
                    return res.text()
                }
                }).then((data) => {
                    uptime.innerHTML = data
                })
                fetch('/getMemoryStat').then((res) => {
                    if(res.ok) {
                        return res.text()
                    }
                }).then((data) => {
                    memStat.innerHTML = data
                })
                fetch('/getCPUusage').then((res) => {
                    if(res.ok) {
                        return res.text()
                    }
                }).then((data) => {
                    cpuStat.innerHTML = data
                })
                fetch('/getElectricCost').then((res) => {
                    if(res.ok) {
                        return res.text()
                    }
                }).then((data) => {
                    ElectricCost.innerHTML = data
                })
            }

            getSystemStat()

            setInterval(getSystemStat, 10000)
        </script>
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-primary w-100" onclick="
                fetch('/restart').then((res) => {
                    if(res.ok) {
                        return res.text()
                    }
                }).then((data) => {
                    alert('Nginx is restarting...')
                    window.location.href = '/?alert=Restart Success.';
                })"><i class="fa-solid fa-arrows-rotate"></i> Restart Web Server</button>
            </div>
            <div class="col">
                <button class="btn btn-danger w-100" onclick="if(confirm('Do you want to stop web server ?')) {window.location.href='/stop'}"><i class="fa-solid fa-power-off"></i> Stop Web Server</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#nodejsvhost">
                    <i class="fa-solid fa-plus me-2"></i> Create Node.js Virtual Host
                </button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#phpvhost">
                    <i class="fa-solid fa-plus me-2"></i> Create PHP Virtual Host
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="nodejsvhost" tabindex="-1" aria-labelledby="nodejsvhost" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-plus me-2"></i> Create Node.js Virtual Host.</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/createNodeJSVirtualHost" method="post">
                    <h4 class="mb-3"><i class="fa-solid fa-globe me-2"></i> App Settings:</h4>
                    <div class="mb-3">
                      <label for="" class="form-label">App name: </label>
                      <input type="text" class="form-control" id="" name="app_name" placeholder="abc" required>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Server Name (Domain Name):</label>
                      <input type="text" class="form-control" id="" name="server_name" placeholder="abc.sunny420x.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Node.js Path:</label>
                        <input type="text" class="form-control" id="" name="app_path" placeholder="/Node/abc">
                      </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Port:</label>
                        <input type="number" class="form-control" id="" name="port" placeholder="4000-6000" required>
                    </div>
                    <h4 class="my-4"><i class="fa-solid fa-hard-drive me-2"></i> Resources:</h4>
                    <div class="mb-3">
                        <label for="" class="form-label">Resource Folders (separate with ,):</label>
                        <input type="text" class="form-control" id="" name="folders" placeholder="css,js,images,videos">
                    </div>
                    <h4 class="my-4"><i class="fa-solid fa-key me-2"></i> SSL Settings:</h4>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="" value="true" name="ssl_enabled">
                      <label class="form-check-label" for="">SSL</label>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">SSL File Name:</label>
                        <input type="text" class="form-control" id="" name="ssl_file_name" placeholder="for abc.sunny420x use sunny420x">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus me-2"></i> Create Virtual Host</button>
                </form>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="phpvhost" tabindex="-1" aria-labelledby="nodejsvhost" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-plus me-2"></i> Create PHP Virtual Host.</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/createPHPVirtualHost" method="post">
                    <h4 class="mb-3"><i class="fa-solid fa-globe me-2"></i> App Settings:</h4>
                    <div class="mb-3">
                      <label for="" class="form-label">App name: </label>
                      <input type="text" class="form-control" id="" name="app_name" placeholder="abc" required>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Server Name (Domain Name):</label>
                      <input type="text" class="form-control" id="" name="server_name" placeholder="abc.sunny420x.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Root Directory:</label>
                        <input type="text" class="form-control" id="" name="root_dir" placeholder="/var/www/html/abc" required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">PHP version:</label>
                        <input type="text" class="form-control" id="" name="php_version" placeholder="8.1" required>
                    </div>
                    <h4 class="my-4"><i class="fa-solid fa-key me-2"></i> SSL Settings:</h4>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="" value="true" name="ssl_enabled">
                      <label class="form-check-label" for="">SSL</label>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">SSL File Name:</label>
                        <input type="text" class="form-control" id="" name="ssl_file_name" placeholder="for abc.sunny420x use sunny420x">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus me-2"></i> Create Virtual Host</button>
                </form>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row grid-2 gap-3">
            <div class="col-lg mb-4 card p-4">
                <h3 class="mb-3"><i class="fa-solid fa-list me-2"></i> Virtual Host Lists (<%=files.length%> totals)</h3>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    <%files.forEach((file) => {%>
                        <tr>
                            <td><%=file%></td>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="
                                window.location.href = '/view/<%=file%>'
                                "><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-danger btn-sm" onclick="
                                if (confirm('Do you want to delete this virtual host?')) {
                                    window.location.href = '/delete/<%=file%>'
                                }
                                "><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    <%
                    })%>
                </table>
            </div>
            <div class="col-lg mb-4 card p-4">
                <h3 class="mb-3"><i class="fa-solid fa-list me-2"></i> Node.js Apps Lists (<%=nodeapps.length%> totals)</h3>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    <%nodeapps.forEach((name) => {%>
                        <tr>
                            <td><%=name%></td>
                            <td>
                                <button class="btn btn-success btn-sm" onclick="
                                window.location.href = '/start/node/<%=name%>'
                                "><i class="fa-solid fa-play"></i></button>
                                <button class="btn btn-primary btn-sm" onclick="
                                window.location.href = '/restart/node/<%=name%>'
                                "><i class="fa-solid fa-arrows-rotate"></i></button>
                                <button class="btn btn-danger btn-sm" onclick="
                                window.location.href = '/stop/node/<%=name%>'
                                "><i class="fa-solid fa-stop"></i></button>
                            </td>
                        </tr>
                    <%
                    })%>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>